# Face Detection Settings
FACE_DETECTION_MODELPATH=app/gvision/weights/detection_model/240904_face_landmark_640.pt
FACE_DETECTION_MODEL_PATH=./app/gvision/weights/SCRFD_10G_KPS.onnx
FACE_DETECTION_INDEX_GPU=-1
FACE_DETECTION_CONF=0.7
FACE_DETECTION_IOU=0.7
FACE_DETECTION_IMAGESIZE=640
FACE_DETECTION_CONF_THRES=0.45
FACE_DETECTION_INPUT_SIZE=640
MIN_SIZE_FACE=40

# Face Recognition Settings
FEATURE_EXTRACTION_MODEL_PATH=./app/gvision/weights/webface600_r50.onnx
SIMILARITY_THRESHOLD=0.5

# Anti-Spoofing Models
USE_DEEPFAKE_MODEL=1
FAS_MODEL_PATH_DEEP_FAKE=app/gvision/weights/deepfake_models/241510_resnet50_deepfake.pth
FAS_MODEL_PATH_1_0=app/gvision/weights/anti_spoof_models/240910_resnet50_epoch002_acc1_86.7705.pth
FAS_MODEL_PATH_2_7=app/gvision/weights/anti_spoof_models/2.7_80x80_MiniFASNetV2.pth
FAS_MODEL_PATH_4_0=app/gvision/weights/anti_spoof_models/4_0_0_80x80_MiniFASNetV1SE.pth
FAS_INDEX_GPU=-1
FAS_CONF_THRESHOLD=0.45
FAS_CONF_THRESHOLD_SUB_MODEL=0.6
FAS_CONF_THRESHOLD_DEEPFAKE_MODEL=0.4
VOTE_THRESHOLD=0.7

# GPU Configuration
DEVICE_GPU=-1

# Face Area Thresholds
FACE_AREA_THRESHOLD_POSE=0.14
FACE_AREA_THRESHOLD_NO_POSE=0.32

# Video Processing
SKIP_FRAME=10
NUM_FRAME_CHECK=7

# Image Similarity Check
THRESHOLD_DUPLICATE_IMAGE_SIMILARITY=0.95
THRESHOLD_DIFFERENT_IMAGE_SIMILARITY=0.3
NUMBER_CHECK_DUPLICATE=5

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
